[Unit]
Description=A prometheus exporter for the Nvidia Jetson family

[Service]
ExecStart=/usr/bin/env jetson-exporter
Restart=always

[Install]
WantedBy=multi-user.target